<div class="form-container">
  <div class="flex-container">
    <div>
      <label for="message">Message</label>
      <input id="message" type="text" [(ngModel)]="message"/>
    </div>
    <div>
      <label>Messages</label>
      <ul><li *ngFor="let item of messages">{{item.text}}</li></ul>
    </div>
  </div>
  <div class="flex-container">
    <div class="button-row" *ngIf="!connected">
      <button type="button" (click)="connect()">Connect</button>
    </div>
    <div class="button-row" *ngIf="connected">
      <button type="button" (click)="send()">Send message</button>
    </div>
  </div>
</div>
